*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* #list, */
#new-task-form {
  margin-top: 2em;
}

#list {
  list-style: none;
  /* margin-top: 10em; */
}

/* #new-task-form {
  display: flex;
  gap: 1em;
} */

input,
button {
  padding: .25em .5em;
  font: inherit;
}